:root {
  --color-primary: #96c291;
  --color-warning: #ffbb5c;
  --color-danger: #ff7a7a;
  --color-other: #f4eeee;
  --color-text: #272829;
  --color-border: #f5f5f5;
  --color-backgrund-light: #f1f1f1;
}
